@{
    ViewData["Title"] = "Index";
}

<h1>Student list</h1>
<partial name="Listing" model="Model" /> @*serve para usar o conteudo de outra view, usado quando esse conteudo é partilhado por varias views ent para n ter que alterar em todas elas basta alterar na view Listing *@

